files.sqlite3-journal
**/__pycache__/**
env/*
venv/*
__pycache__/config.cpython-39.pyc
__pycache__/config.cpython-310.pyc
__pycache__/models.cpython-39.pyc
__pycache__/models.cpython-310.pyc
ffmpeg.exe
ffplay.exe
ffprobe.exe
Files_people_2022-03-09_091345.sql
Files_tags_2022-03-09_091212.sql
